@font-face {
    font-family: graffiti;
    src: url(../assets/Smasher\ 312\ Custom.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    gap: 1rem;
}

h1 {
    color: #F2AA4C;
    font-size: 4rem;
    font-family: graffiti;
    margin-top: 4rem;
    animation: colour 10s ease-in-out infinite;
    animation-fill-mode: forwards;
}

@keyframes colour {
    20% {
        color: #02e5f5;
    }

    40% {
        color: #edf7f0;
    }

    60% {
        color: #ff00e6;
    }

    80% {
        color: #a6ff71;
    }
}

.main {
    display: flex;
    gap: 5rem;
}

.controls, .pad {   
    height: 28rem;
    border-radius: 25px;
}

.controls {
    width: 10rem;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.controls>p {
    font-size: 2rem;
    margin-top: 1rem;
} 

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.pad {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

.canvas {
    width: 90%;
    height: 80%;
    border: 3px solid black;
    background-color: #FFF8E7;
    display: grid;
    gap: 0px;
}

.button {
    width: 10%;
    height: 10%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: #FFF8E7;
}

.box {
    border: 1px solid black;
}

button {
    outline: none;
    width: 7rem;
    height: 2rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

button:hover {
    outline: none;
}

.black {
    color: white;
    background-color: black;
}

.shade {
    background-color: grey;
}

.rainbow {
    background-color: #F2AA4C;
    animation: bcolour 10s ease-in-out infinite;
    animation-fill-mode: forwards;
}

@keyframes bcolour {
    20% {
        background-color: #02e5f5;
    }

    40% {
        background-color: #edf7f0;
    }

    60% {
        background-color: #ff00e6;
    }

    80% {
        background-color: #a6ff71;
    }
}